<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>网盘</title>
</head>
<body>
<form action="/user/upload" method="post" enctype="multipart/form-data">
    <input type="file" value="请选择上传文件" multiple name="file">
    <input type="submit" value="上传">
</form>

<div>
    <table class="table table-striped table-hover">
        <caption>基本的表格布局</caption>
        <thead>
        <tr>
            <th>
                <label>
                    <input type="checkbox">
                </label>
            </th>
            <th>文件名</th>
            <th>大小</th>
            <th>上传时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fileInfo : ${files}">
            <th>
                <label>
                    <input type="checkbox">
                </label>
            </th>
            <td th:text="${fileInfo.fileName}" th:ondblclick="edit([[${fileInfo.fileName}]])"></td>
            <td th:text="${fileInfo.size}"></td>
            <td th:text="${fileInfo.uploadDate}"></td>
            <td><a th:href="@{user/download(id=${fileInfo.id})}">下载</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    function edit(fileName) {
        console.log(fileName);
    }
</script>
</body>
</html>
