<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>网盘</title>
    <style>
        .right-top a {
            margin-right: 5px;
        }

        .file-container {
            font-size: 13px;
        }

        .icon-container {
            height: 50px;
            line-height: 45px;
        }

        .icon {
            width: 30px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div>
    <form action="/user/upload" id="fileForm" method="post" enctype="multipart/form-data">
        <input type="file" id="file" required multiple name="file" style="display: none;">
        <button class="btn btn-primary" onclick="$('#file').click();">上传文件</button>
    </form>
    <img class="mr-2 rounded-circle" style="width: 40px;" th:src="${session.user.avatarUrl}"
         src="" alt="" onmouseleave="$('#user-info').hide()"
         onmouseenter="$('#user-info').show()">

    <a href="javascript:void(0);">消息</a>
    <a href="javascript:void(0);">动态</a>
    <a href="javascript:void(0);">收藏</a>
    <a href="javascript:void(0);">历史</a>
    <a href="/logout">退出</a>

</div>

<div class="container-fluid">
    <div class="row file-container" th:each="file:${files}">
        <div class="icon-container col-auto">
            <img class="icon" th:src="@{/img/icon/icon-xml.png}" alt="" src="">
        </div>
        <div class="col-auto" style="line-height: 23px; margin-left: -15px;">
            <div>[[${file.userFileName}]]</div>
            <div>
                <span th:text="${#dates.format(file.uploadDate, 'yyyy-MM-dd HH:mm')}"></span>
                <span th:text="${file.sizeShow}"></span>
            </div>
        </div>
        <hr>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="/js/bootstrap.min.js" rel="script"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/popper.min.js"></script>
<script>
    $('#fileForm').on('change', () => {
        $(this).submit();
    });
</script>
</body>
</html>
