<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <style>
        .mt-80 {
            margin-top: -80px;
        }
    </style>
</head>
<body style="min-height: 513px;">
<div class="mt-80">
    <div style="width: 400px; margin: 260px auto -190px; text-align: center;font-size: 36px; font-family: 楷体, sans-serif">
        <span><b>云盘</b> BETA</span>
    </div>
    <!-- /.login-logo -->
    <div class="card" style="width: 400px; margin: 200px auto;">

        <div class="card-body login-card-body">
            <p class="login-box-msg">请登录</p>
            <form action="/validate" method="post">

                <div th:if="${#httpServletRequest.getAttribute('error') != null}"
                     class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span th:text="${#httpServletRequest.getAttribute('error')}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="input-group mb-3">
                    <label for="username"></label>
                    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
                    <input type="text" id="username" required class="form-control"
                           th:value="${username}" name="username"
                           placeholder="账号">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i size="small" class="fas fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="password"></label>
                    <input type="password" id="password" required class="form-control" name="password" placeholder="密码">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i size="small" class="fas fa-lock"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember" title="公共场合慎选">
                                记住密码
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-sm btn-primary btn-block">登录</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="/js/bootstrap.min.js" rel="script"></script>
</body>
</html>
